﻿<!doctype html>

<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>HeatDuino - YRS 2012 @@ The Studio</title>

  <meta name="title" content="HeatDuino - YRS 2012 at The Studio" />
  <meta name="description" content="HeatDuino uses digital and physical heat-maps to visualise various government metrics, such as wealth, crime rates and population density." />
  <meta name="keywords" content="heatduino,heatmaps,yrs,yrs2012,arduino,nla,north,liverpool,academy,2012,heatmap,map,maps,the,studio" />
  <meta name="author" content="James Billingham, Ryan Johnson" />
  <meta name="robots" content="index,follow" />
  
  <meta property="og:site_name" content="HeatDuino" />
  <meta property="og:title" content="HeatDuino - visualise government metrics using physical and digital heat-maps." />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="http://www.heatduino.co.uk/" />

  <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />

  <script src="@Url.Content("~/Scripts/modernizr.2.6.1.min.js")"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>jQuery || document.write(unescape("%3Cscript src=\"@Url.Content("~/Scripts/jquery-1.7.2.min.js")\"%3E%3C/script%3E"));</script>

  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBUS6LwZnsmuXIg9oYEjf62rp2hLVQVst4&sensor=true"></script>
  <script src="http://www.heatmapapi.com/Javascript/HeatmapAPIGoogle3.js"></script>
  <script src="http://www.heatmapapi.com/Javascript/HeatMapAPI3.aspx?k=21076e3b-79a2-413b-8502-52a73c624dc7"></script><!-- localhost -->
  <!--script src="http://www.heatmapapi.com/Javascript/HeatMapAPI3.aspx?k=771ac04a-90a6-4198-8b63-75dd14a9a8e8"></script--><!-- heatduino.co.uk -->

  <script src="@Url.Content("~/Scripts/script.js")"></script>
</head>
<body>
  <header>
    <div class="wrapper">
      <div class="left">
        <h1>HeatDuino</h1>
        <h2>YRS 2012 @@ The Studio</h2>
      </div>

      <div class="right">
        <aside id="metrics">
          <select>
            <option value="0">Crime Rates</option>
            <option value="1">Income</option>
            <option value="2">NHS Spending</option>
          </select>
        </aside>

        <aside id="years">
          <select>
            <option>Loading...</option>
          </select>
        </aside>
      </div>
      
      <div class="clearfix"></div>
    </div>
  </header>

  <section>
    @RenderBody()
  </section>
</body>
</html>
